@media (min-width: 1600px) {
    .layout {
        min-width: 1600px;
    }

    .navbar_mobile-btn {
        display: none;
    }

    .layout_menu {
        width: 100%;
        padding: 5rem 9.5rem;
    }

    .layout_banner {
        min-height: 85rem;
        margin: 0 9.5rem;
        padding-right: 0;
        padding-left: 20rem;
        padding-top: 20rem;
        padding-bottom: 30rem;
    }

    .menu_mobile {
        visibility: hidden;
        opacity: 0;
        transform: translateX(-100%);
    }

    .services_service {
        padding: 8rem 5rem;
    }
}

@media (min-width: 1201px) and (max-width: 1599px) {
    .menu_mobile {
        visibility: hidden;
        opacity: 0;
        transform: translateX(-100%);
    }

    .navbar_mobile-btn {
        display: none;
    }

    .reviews_grid,
    .clients_container,
    .news_container,
    .footer_container {
        max-width: 100%;
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .projects_all {
        gap: 4rem;
    }
}

@media (max-width: 1200px) {
    .layout {
        min-width: 992px;
    }

    .navbar_mobile-btn {
        display: none;
    }

    .nav_item {
        margin: 0 2rem;
    }

    .banner_title {
        font-size: 6rem;
    }

    .layout_services {
        margin: 10rem 7rem;
        margin-bottom: 0rem;
    }

    .reviews_grid,
    .clients_container,
    .news_container,
    .footer_container {
        max-width: 96rem;
    }

    .services_service {
        padding: 4rem 1.5rem;
    }

    .services_container-img {
        max-width: 6rem;
    }

    .projects_all {
        gap: 4rem;
    }

    .categories_item {
        font-size: 1.8rem;
        margin: -1.7rem;
    }

    .layout_stats,
    .layout_clients {
        padding: 10rem 6rem;
    }

    .clients_title {
        width: 60%;
    }

    .layout_news {
        padding: 10rem 0;
    }

    .news_new {
        display: flex;
        flex-direction: column;
    }

    .news_list {
        display: flex;
        flex-direction: column;
    }

    .news_new:last-child {
        border-left: none;
        padding-left: 0;
    }

    .layout_contact {
        padding-top: 10rem;
        padding-bottom: 7rem;
    }

    .menu_mobile {
        visibility: hidden;
        opacity: 0;
        transform: translateX(-100%);
    }
}

@media (min-width: 1000px) {
    .menu_mobile {
        display: none;
        visibility: hidden;
        opacity: 0;
        transform: translateX(-100%);
    }
}

@media (max-width: 1000px) {
    .layout {
        min-width: auto;
    }

    .navbar_nav {
        display: none;
    }

    .menu_navbar-fixed {
        padding: 1.2rem 7rem;
    }

    .navbar_mobile-btn {
        display: block;
    }

    .layout_banner {
        min-height: 100%;
        margin: 0 3rem;
    }

    .banner_content {
        width: 65%;
    }

    .banner_title {
        font-size: 5rem;
    }

    .banner_btn {
        padding: 2rem 3.5rem;
    }

    .shapes_item {
        width: 50%;
    }

    .reviews_grid,
    .clients_container,
    .news_container,
    .footer_container {
        max-width: 72rem;
    }

    .services_subtitle,
    .projects_subtitle,
    .stats_subtitle,
    .reviews_subtitle,
    .clients_subtitle,
    .news_subtitle {
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 1.5rem;
        color: var(--text-subttitle-color);
    }

    .services_title,
    .projects_title,
    .reviews_title,
    .news_title,
    .contact_title {
        font-size: 5rem;
    }

    .services_list {
        flex-direction: column;
    }

    .services_service {
        width: 95%;
        margin-top: 1rem;
        padding: 4rem 2.5rem;
        margin-bottom: 1rem;
    }

    .service_shapes-shape2 {
        display: none;
    }

    .layout_services {
        padding-bottom: 4rem;
    }

    .layout_projects {
        padding: 8rem 4rem;
    }

    .categories_item {
        padding: 0px 3rem;
        font-size: 1.8rem;
        margin: -1.7rem;
    }

    .projects_shapes-shape2 {
        display: none;
    }

    .layout_stats,
    .layout_clients {
        padding: 8rem 5rem;
    }

    .stats_description,
    .clients_description {
        font-size: 1.7rem;
        width: 100%;
    }

    .stats_progress {
        flex-wrap: wrap;
    }

    .stats_data {
        width: calc(50% - 1.5rem);
    }

    .layout_reviews {
        padding-top: 8rem;
        padding-bottom: 5rem;
    }

    .reviews_description,
    .news_description {
        width: 100%;
        font-size: 1.7rem;
    }

    .reviews_comntainer {
        flex-direction: column;
        gap: 0;
    }

    .reviews_review {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .clients_title {
        width: 100%;
        font-size: 5rem;
    }

    .clients_logos {
        flex-wrap: wrap;
    }

    .clients_item {
        width: calc(50% - 3rem);
    }

    .layout_news {
        padding: 8rem 0;
    }

    .layout_contact {
        padding-top: 10rem;
        padding-bottom: 4rem;
    }

    .layout_contact::before {
        height: 60rem;
    }

    .contact_subtitle {
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 1.5rem;
        color: var(--btn-bg-color);
    }

    .contact_title {
        width: 100%;
    }

    .contact_btn {
        padding: 1.8rem 3.5rem;
    }

    .contact_thumb-chat {
        margin-right: -13rem;
        margin-bottom: -0.8rem;
        width: 70%;
    }

    .contact_img {
        width: 90%;
    }

    .contact_thumb-laptop {
        bottom: 0;
        left: 1rem;
    }

    .contact_thumb-chat {
        margin-right: -20rem;
        margin-bottom: -1rem;
    }

    .contact_thumb-mobile {
        bottom: 0;
        right: -1rem;
    }

    .social_img {
        font-size: 3rem;
    }

    .footer_main {
        display: flex;
        flex-direction: column;
    }

    .footer_left-container {
        display: flex;
        flex-direction: column;
        border: none;
    }

    .footer_footer-left {
        width: 100%;
    }

    .footer_right {
        width: 100%;
    }

    .footer_bottom {
        flex-direction: column;
    }

    .footer_copyright {
        flex-basis: auto;
        text-align: center;
        display: block;
        margin-bottom: 1rem;
    }

    .footer_links {
        flex-basis: auto;
        text-align: center;
    }

    .footer_f-links {
        justify-content: center;
    }

    .flinks_item-separator::after {
        left: 52.6%;
    }
}

@media (max-width: 999px) {
    .menu_mobile {
        position: fixed;
        top: 0;
        left: 0;
        width: 28rem;
        height: 100vh;
        max-width: 85%;
        height: 100vh;
        background-color: #ffffff;
        z-index: 9999;
        visibility: hidden;
        opacity: 0;
        transform: translateX(-100%);
        transition: all 400ms ease;
    }

    .menu_mobile-show {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 770px) {
    .menu_navbar-fixed {
        padding: 1.2rem 6rem;
    }

    .layout_banner {
        margin: 0 3rem;
        padding: 8rem 3rem;
    }

    .banner_title {
        font-size: 4rem;
    }

    .layout_services {
        margin: 6rem 6rem;
    }

    .reviews_grid,
    .clients_container,
    .news_container,
    .footer_container {
        max-width: 54rem;
    }

    .services_subtitle,
    .projects_subtitle,
    .stats_subtitle,
    .reviews_subtitle,
    .clients_subtitle,
    .news_subtitle {
        font-size: 1.6rem;

    }

    .services_title,
    .projects_title,
    .reviews_title,
    .news_title,
    .contact_title {
        font-size: 5rem;
    }

    .layout_projects {
        padding: 6rem 5rem;
    }

    .projects_all {
        flex-direction: column;
        align-items: center;
    }

    .projects_project {
        width: calc(100% - 3.5rem);
    }

    .categories_item {
        font-size: 1.6rem;
        margin: -1.7rem;
        padding: 0 1rem;
    }

    .layout_stats,
    .layout_clients {
        padding: 6rem 3rem;
    }

    .stats_count {
        font-size: 4.4rem;
    }

    .layout_reviews {
        padding-top: 6rem;
        padding-bottom: 3rem;
    }

    .reviews_review {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .layout_news {
        padding: 6rem 0;
    }

    .new_title {
        font-size: 2rem;
    }

    .layout_contact {
        padding-top: 6rem;
        padding-bottom: 4rem;
    }

    .layout_contact::before {
        height: 38rem;
    }

    .contact_thumb-chat {
        margin-right: -10rem;
        margin-bottom: -0.8rem;
        width: 80%;
    }

    .contact_thumb-laptop {
        bottom: 0;
        left: 8rem;
        width: 35%;
    }

    .contact_thumb-chat {
        margin-right: -15rem;
        margin-bottom: -1rem;
        width: 60%;
    }

    .contact_thumb-mobile {
        bottom: 0;
        right: 2rem;
        width: 32%;
    }

    .social_img {
        font-size: 3rem;
    }

    .footer_left-container {
        border-right: none;
        padding-right: 0;
        margin-right: 0;
        margin-bottom: 4rem;
    }
}

@media (max-width: 640px) {

    .stats_container,
    .reviews_grid,
    .clients_container,
    .news_container,
    .footer_container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .menu_navbar-fixed {
        padding: 1.2rem 5rem;
    }

    .layout_services {
        margin-left: 3rem;
        margin-right: 1.2rem;
    }

    .categories_item {
        font-size: 1.3rem;
        margin: -1.9rem;
        padding: 0 1.3rem;
    }

    .layout_projects {
        padding-left: 3rem;
        padding-right: 1.2rem;
    }

    .projects_all {
        flex-direction: column;
        align-items: center;
    }

    .backshapes_shape1 {
        right: 32%;
        left: 40%;
    }

    .backshapes_shape6 {
        max-width: 12%;
    }

    .footer_widget-50 {
        flex-basis: auto;
    }

    .footer_widget {
        margin-bottom: 3rem;
    }

    .flinks_item-separator::after {
        left: 53.6%;
    }
}

@media (max-width: 440px) {
    .layout_banner {
        margin: 0 3rem;
        padding: 4rem 2rem;
    }

    .menu_navbar-fixed {
        padding: 1.2rem 5rem;
    }

    .banner_btn {
        padding: 2rem 2.4rem;
    }

    .banner_title {
        font-size: 3rem;
    }

    .shapes_item {
        width: 45%;
    }

    .projects_title,
    .services_title,
    .reviews_title,
    .news_title,
    .contact_title {
        font-size: 3.5rem;
    }

    .layout_services {
        margin-bottom: 1rem;
    }

    .projects_project {
        width: calc(100% - 4.5rem);
    }

    .categories_item {
        font-size: 1.2rem;
    }

    .project_title {
        font-size: 2.8rem;
    }

    .stats_title,
    .clients_title {
        font-size: 4.4rem;
    }

    .layout_stats,
    .layout_clients {
        padding: 4rem 1.5rem;
    }

    .stats_progress {
        gap: 2rem;
    }

    .news_new {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .footer_left-title {
        font-size: 4.4rem;
        text-align: center;
    }

    .widget_link {
        font-size: 1.6rem;
    }

    .contact_thumb-chat {
        margin-right: -8rem;
        width: 63%;
    }

    .contact_thumb-laptop {
        left: 3rem;
        width: 35%;
    }

    .contact_thumb-mobile {
        right: 1rem;
        width: 31%;
    }

    .footer_bottom {
        font-size: 1.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .footer_copyright {
        font-size: 1.5rem;
    }

}

@media (max-width: 360px) {
    .menu_navbar-fixed {
        padding: 1.2rem 5rem;
    }

    .layout_banner {
        border-radius: 5rem;
    }

    .banner_content {
        width: 75%;
    }

    .banner_btn {
        font-size: 1.6rem;
    }

    .projects_category {
        gap: 4rem;
    }

    .review_description {
        font-size: 1.5rem;
        line-height: 1;
    }

    .service_descriptopn,
    .new_description {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }

    .service_more,
    .news_more {
        font-size: 1.5rem;
    }

    .stats_data {
        padding: 5rem 2rem;
    }

    .services_container-img {
        max-width: 5rem;
    }

    .services_title,
    .projects_title,
    .reviews_title,
    .news_title,
    .contact_title {
        font-size: 3.9rem;
    }

    .stats_title,
    .clients_title {
        font-size: 3.9rem;
    }

    .stats_container,
    .reviews_grid,
    .clients_container,
    .news_container,
    .footer_container {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .social_img {
        font-size: 2rem;
    }

    .foote_left-group {
        font-size: 1.2rem;
    }

    .footer_bottom {
        font-size: 1.3rem;
    }

    .footer_copyright {
        font-size: 1.3rem;
    }
}

@media (max-width: 344px) {
    .menu_navbar-fixed {
        padding: 1.2rem 5rem;
    }

    .layout_banner {
        border-radius: 4rem;
    }


    .banner_btn {
        font-size: 1.4rem;
    }

    .projects_category {
        gap: 3rem;
    }

    .review_description {
        font-size: 1.4rem;
        line-height: 1;
    }

    .stats_data {
        padding: 4rem 2rem;
    }

    .services_container-img {
        max-width: 5rem;
    }

    .services_title,
    .projects_title,
    .reviews_title,
    .news_title,
    .contact_title {
        font-size: 3.6rem;
    }


    .foote_left-group {
        font-size: 1.2rem;
    }

    .footer_bottom {
        font-size: 1.2rem;
    }

    .footer_copyright {
        font-size: 1.2rem;
    }
}